header {
    background: url(images/HOME-TO-HOME.png) 0 -50px no-repeat; /* place image as background */
    background-size: 1500px;
    height: 100px; /* set the header height */
    /* background height 0 -200px */
    /* background-repeat; no-repeat */
    padding-top: 420px;
    padding-left: 150px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: antiquewhite;
}
li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
}
li a {
    text-decoration: none; /* Remove underline*/
}
li a:link {
    color: #000; /* Before click */
}
li a:visited {
    color: #818db3; /* After click */
}
li a:hover {
    color: #333; /* Mouse over */
}
li a:active {
    color: #753a30; /* Mouse down */
}
nav {
    background-color:antiquewhite; /* Uses Red Green Blue */
    height: 50px;
    text-align: center;
    padding-top: 2px;
}
main {
    margin: 50px;
}
main h1 {
    color: rgb(129, 141, 179);
    font-family: arial;
}
main h2 {
    color: #818db3;
}
table {
    margin-top: 35px;
    text-align: center;
}
table, caption, th, td {
    border: 1px solid #000;
}
th, td {
    width: 150px;
    height: 35px;
    text-align: center;
}
caption {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: large;
    height: 40px;
    padding-top: 15px;
    color: #e2cdc9;
    background-color:#818db3;
}
table tr td:hover {
    font-size: 95%;
}
th{
    background-color:cornsilk;
}
label{
    display: block;
    margin:15px 0 0 0;
}
input{
    width: 300px;
}
input[type="radio"] {
    width: 25px;
}
textarea{
    width: 300px;
}
input[type="submit"]{
    display: block;
    margin: 20px 0 10px 0;
    width: 100px;
}
form {
    border: #818db3;
    background-color: #c1c6d4;
}
footer {
    height: 40px;
    background-color: antiquewhite;
    text-align: center;
    padding-top: 20px;
    color:#333;
}